* {
    box-sizing: border-box;
}
*:before,
*:after {
 box-sizing: border-box;
}
::-moz-selection{
    background: #FF4F4F;
    color: black;
}
::selection {
    background: #FF4F4F;
    color: black;
}
a:link{ /* unvisited link */
	color: black;
	text-decoration: none;
}
a:visited { /* visited link */
	color: black;
	text-decoration: none;
}
a:hover { /* mouse over link */
	color: #FF4F4F;
	text-decoration: none;
}
a:active { /* selected link */
	color: black;
	text-decoration: none;
}
html{
    min-height: 100%;
    position: relative;
    width: 640px;
    background: white;
    color: black;
    font-weight: 100;
	margin: 0px auto 0px auto;
    padding: 0;
    font-family: 'Tangerine', Sans-serif;
    font-size: 18px;
    line-height: 30px;
}
body{
    padding: 0 0 110px 0;
}
header{
	position: relative;
	width: 100%;
	height: 250px;
}
header .title{ /*unneccessary specification*/
	position: relative;
	width: 100%;
    height: 100%;
    padding: 50px 0 0 0;
    line-height: 200px;
    font-size: 40px;
    text-align: center;
}
nav{
    position: relative;
    width: 100%;
    height: 70px;
    text-align: center;
}

.button{
    position: relative;
    float: left;
    display: block;
    width: 25%;
    height: 100%;
    text-align: center;
}
.button:hover{
	color: #FF4F4F;
	cursor: pointer;
	-webkit-animation: hoverFading 0.5s; /*Safari and Chrome:*/
	animation: hoverFading 0.5s;
}
nav .button{
    line-height: 70px;
    font-size: 20px;
}
@keyframes hoverFading{
	0% {color: black;}
}
@-webkit-keyframes hoverFading{
	0% {color: black;}
}
nav .active:hover{
	color: black;
	cursor: default;
}
main{
    position: relative;
    width: 100%;
}
main .textbox{ /*unneccessary specification*/
    position: relative;
    width: 90%;
    margin: 0 5%;
}
img { /*unneccessary specification*/
    position: relative;
    display: block;
    width: 450px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    /*transform: scale(1,1); /*unneccessary when you specified width and height*/
    /*background: url('files/images/personal.jpg') no-repeat center;  /*I do this to make it harder to copy*/
}

.collapsible{
    background-color:darksalmon;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align:center;
    outline:none;
    font-size: 15px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

main .section-title{ /*unneccessary specification*/
	padding: 30px 0 15px 0;
    font-size: 20px;
	font-weight: 600;
}
main .publications{ /*unneccessary specification*/
	padding: 0 0 0 40px;
	text-indent: -40px;
}
footer{
    text-align: center;
    bottom: 0;
    width: 200%;
    height: 110px;
}
footer .button{ /*unneccessary specification*/
    position: relative;
    padding: 30px 0 20px 0;
    line-height: 60px;
    font-size: 18px;
}